@import url('variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background-image: url('https://images.ctfassets.net/swt2dsco9mfe/86dfAe8ttA7zHKPBfQHvQ/b44219a7f6ffc5c094543e2dffde2767/Fizban_2560x1600_Wallpaper1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
}

/*******************boton de volver a la pagina principal*******************/
.btn-volver {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #eb2020e1; /* color estilo D&D */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.btn-volver:hover {
  background-color: #0a0808a2;
}

.icono-volver {
  width: 30px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

/************************************************/



.dnd-section {
    background-color: #5f2817dc;
    color: #070707;
    padding: 2rem;
    border-radius: 16px;
    margin: 2rem auto;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(17, 16, 16, 0.4);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .dnd-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }
  
  .dnd-image {
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  }
  
  .dnd-text {
    flex: 1;
    min-width: 280px;
    font-family: 'UncialAntiqua-Regular';
   
  }
  
  .dnd-text h2 {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 1rem;
    font-family: 'Cardinal-Alternate';

  }
  
  .dnd-text ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
    
  }
  
  .dnd-text li {
    margin-bottom: 0.5rem;
  }
  
  .dnd-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .dnd-button:hover {
    background-color: #ff1f1f;
  }
  