:root{

}

@font-face{

    font-family:"Poppins-semiBold" ;
     src: url(../storage/font/oldenglishtextmt.ttf);
     
}

@font-face{

    font-family:"MarckScript-Regular" ;
     src: url(../storage/font/MarckScript-Regular.ttf);
     
}

@font-face{

    font-family:"PermanentMarker-Regular" ;
     src: url(../storage/font/PermanentMarker-Regular.ttf);
     
}

@font-face{

    font-family:"UncialAntiqua-Regular" ;
     src: url(../storage/font/UncialAntiqua-Regular.ttf);
     
}

@font-face{

    font-family:"Cardinal-Alternate" ;
     src: url(../storage/font/Cardinal-Alternate.ttf);
     
}